<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @reservation.book_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @reservation.client %>
</p>

<p>
  <strong>References:</strong>
  <%= @reservation.references %>
</p>

<p>
  <strong>Librarian:</strong>
  <%= @reservation.librarian_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reservation.status %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
